body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20px;
}

body.rewardsbody{
     background-image:url(rewardsimg/mainbackground.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: x-large;
}
p {
    font-size: 1.4rem;
    text-align: center;
    
}
#aboutp p {
text-align: left;
}


nav {
    background: transparent;
    padding: 15px 20px;
    border-radius: 0 0 20px 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

nav button {
    margin-right: 10px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.rewardscall {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.rewardscard {
    background: #222;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    height: 250px;


}


.rewardscard:hover {
    border-color: #66aaff;
    transform: scale(1.05);
}

.rewardscard img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

#textline {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
    height: 30px;
    transition: opacity 0.5s ease;
    border-radius: 20px;
    font-size: 2rem;

}

#rewardsbalance {
    position: fixed;    
    top: 20px;              
    left: 95%;             
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: opacity 0.4s ease;
    pointer-events: none;  
    z-index: 9999;           
}
