.hidden {
    display: none;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
nav {
    background: #0ab0e2;
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
nav button {
    margin-right: 10px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

#warning {
    justify-content: center;
    color: red;
    font-size:x-large;
    border: 20px;
    position: fixed;
    top: 50%;
    left: 35%;
    box-shadow: inset;
    transition: all;

}

header {
    justify-content: center;
}

#click img {
    
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    transform: translateY(3px) scale(0.95);
    
}   
#click {
    background-color: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#click.press {
    transform: translateY(3px) scale(0.95);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

#clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#points{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#upgrade{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 400px;
    width: 200px;
    background-color: aqua;
    border: 5px;
    border-radius: 5px;
    border-color: rgb(6, 247, 215);
}

#upgradebtn {
    width:200px;
}

.ppool {
    width: 400px;
    border-radius: 15px;
}