.hidden {
    display: none;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
nav {
    background: transparent;
    padding: 15px 10px;
    border-radius: 0 0 20px 20px;
    display: flex;
    gap: 0px;
    margin-bottom: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
nav button {
    margin-right: 50px;
    padding: 10px 50px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  nav button {
    padding: 10px 20px;
    margin-right: 0;
    width: 80%;
  }
  #upgrade { 
    position: static;
     margin: 20px auto;
      width: 90%; 
      max-width: 300px;
    }
    #warning {
        top: auto;
        bottom: 10%;
        left: 5%;
        right: 5%;
        width: 90%;
        text-align: center;
        font-size: 3rem;
     }
}



#warning {
    
    color: rgb(2, 2, 2);
    font-size: 3rem;
    border: 20px;
    position: fixed;
      top: 70%;
    left: 30%;
    box-shadow: inset;
    transition: all;

}

header {
    justify-content: center;
}

#click img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1/1;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    transform: translateY(3px) scale(0.95);
    
}   
@keyframes clickpulse {
    0% {transform: scale(1);}
    50% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

#click {
    background-color: rgb(255, 251, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    
}
.whale-clicked {
    animation: clickpulse 150ms ease;
}

#click.press {
    transform: translateY(3px) scale(0.95);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

#clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#points{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: x-large;
}

#upgrade {
    position: absolute;
    top: 0px;
    right: 0px;
    max-height: 400px;
    max-width: 200px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;

    backdrop-filter: blur(4px);
     box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}


#upgradebtn {
    max-width:200px;
    margin-bottom: 10px;
}

.ppool {
    max-width: 400px;
    border-radius: 15px;
}

body.mainbody{
    background-image :url(rewardsimg/mainbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}